{% extends 'base.html' %}

{% block body %}
<h1 class="m-5 text-center">Todo List</h1>
<div class="container d-flex flex-wrap">
    {% for task in tasks %}
    <div class="card flex-fill mb-3 ml-auto" style="width: 50%;">
        <div class="card-body">
            <h3 class="card-title">{{ task.title }}</h3>
            <p class="card-text">{{ task.details }}</p>
            <a class="btn btn-info btn-sm" href="/update/{{ task.id }}" role="button">Update</a>
            <a class="btn btn-danger btn-sm" href="/delete/{{ task.id }}" role="button">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
